.MenuContainer {
	height: var(--global-top-bar-padding);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--secondary-global-background-color);
	padding: 0 16px;
	align-items: center;
}

.Button:focus-visible {
	outline: 1px solid #fff;
}

.Disabled {
	cursor: default !important;
}

.Icon {
	height: 24px;
	width: 24px;
}

.Icon > path {
	stroke: var(--global-icon-color);
}

.Icon:active > path {
	stroke: var(--global-icon-color-active);
}

.Icon:hover:not(:active) > path {
	stroke: var(--global-icon-color-hover);
}

.IconDisabled {
	height: 24px;
	width: 24px;
}

.IconDisabled > path {
	stroke: var(--global-icon-color-disabled) !important;
}

.CreateNoteIcon {
	fill: transparent;
}

.CreateNoteIcon > path:last-child {
	fill: var(--global-icon-color);
}

.CreateNoteIcon > path:last-child {
	stroke: transparent;
}

.HamburgerIcon > path {
	fill: var(--global-icon-color);
}

.LeftArrowIcon > path {
	fill: var(--global-icon-color);
}
