.Button {
	padding: 8px 16px;
	background-color: var(--secondary-global-background-color);
	color: var(--global-font-color);
	text-decoration: none;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.Button:hover {
	background-color: var(--global-highlight-color);
}

.Button:active {
	background-color: var(--global-highlight-color);
}

.ButtonActive {
	background-color: var(--global-highlight-color);
}
