.Button {
	display: flex;
	align-items: center;
	padding: 8px 16px;
	background-color: var(--secondary-global-background-color);
	color: var(--global-font-color);
	text-decoration: none;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.Button > p {
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.Button:hover:not(.ButtonActive) {
	background-color: var(--global-hover-color);
}

@media (max-width: 768px) {
	.Button > p {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		line-height: 1.5em;
		max-height: 3em;
		margin: 0;
		white-space: normal;
	}
}

.ButtonActive {
	background-color: var(--global-highlight-color);
	transition: background-color 0.3s ease;
}

.ButtonDisabled {
	cursor: wait;
}

.Error {
	color: red;
}

.Icon {
	fill: red;
	height: 22px;
	width: 22px;
	margin-left: auto;
}
