.SidebarContainer {
	height: 100%;
	width: 100%;
	overflow: scroll;
	background-color: var(--secondary-global-background-color);
}

.NotesList {
	display: flex;
	flex-direction: column;
}

.Note {
	margin-bottom: 8px;
}
