.SidebarContainer {
	padding-top: var(--global-top-bar-padding);
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	background-color: var(--secondary-global-background-color);
}

.NotesList {
	display: flex;
	flex-direction: column;
}

.NoNotes {
	text-align: center;
	margin: 0;
}
