.MenuContainer {
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--secondary-global-background-color);
	padding: 0 16px;
	align-items: center;
}

.Button:focus-visible {
	outline: 1px solid #fff;
}

.Icon {
	height: 24px;
	width: 24px;
}

.Icon > path {
	stroke: var(--global-icon-color);
}
