body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: var(--global-font-family);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--primary-global-background-color);
	color: var(--global-font-color);
}

nav {
	min-width: 15vw;
	width: 15vw;
}

@media (max-width: 768px) {
	nav {
		width: 60vw;
	}
}

main {
	width: 100%;
	height: 90%;
}

div {
	height: 100%;
}

div:focus-visible {
	outline: 1px solid #fff;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0 8px;
}

button {
	all: unset;
}

button:hover {
	cursor: pointer;
}

:root {
	--primary-global-background-color: #1d1e1f;
	--secondary-global-background-color: #000522;
	--global-highlight-color: #000988;
	--global-top-bar-padding: 50px;
	--global-font-color: #ffffff;
	--global-icon-color: #c1c1c1;
	--global-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
}
